@charset "utf-8";

header {
    height: 80px;
    min-width: 100%;
	max-width: 300%;
    background: #262645;
    color: white;
	display: block;
	font-weight: bold;
	box-shadow: 0 1px 8px 2px #29364c91;
}

.s-header {
	justify-content: space-between;
	align-items: center;
}

.wrapper {
	width: 970px;
	max-width: 1000px;
	padding: 20px 40px;
	margin: 0 auto;
	border: 0px;
	background: white;
	box-shadow: 0 5px 8px 2px #29364c91;
}

body {
	margin: 0;
	padding: 0;
	color: #191925;
    background: #597097;
	font-size: 20px;
	line-height: 1.5em;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	height: 100%;
}

.wrapper img {
	display: flex;
	margin: 0 auto;
}

main {
	flex: 1;
}
h1 {
	text-align: center;
	color: #4e2b5e;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.body-text a{
	color: rgb(7, 131, 147);
}

.page-nav {
	text-align: center;
}

.page-nav a {
	color: rgb(102, 81, 172);
}

.page-nav a:hover {
	text-decoration: none;
	color: rgb(149, 113, 184);
	background-color: #bad4fa8e;
}

a.to-top {
	color: rgb(102, 81, 172);
}

a:hover.to-top {
	text-decoration: none;
	color: rgb(149, 113, 184);
}

.site-nav {
	display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    column-gap: 4px;
	text-transform: uppercase;
	font-size: 30px;
	padding: 10px;
}

.site-nav img {
	width: 140px;
	position: absolute;
	left: 10px;
	top: 2px;
}

.site-nav a {
	color: white;
	padding: 15px;
}

.site-nav a:visited {	
	color: inherit;
}

.site-nav a.active {
    color:rgb(149, 113, 184);
    background-color: white;
}

.site-nav a:hover {
	color: rgb(149, 113, 184);
	text-decoration: none;
}

a:hover {
	color: rgb(27, 179, 200);
	text-decoration: underline;
}

.gallery {
	width: 970px;
	display: grid;
	grid-template-columns: repeat(3, 300px);
	gap: 30px;
	justify-content: center;
	margin: 0 -40px;
	text-align: center;
}

.gallery img {
	border-radius: 8px;
	box-shadow: 0px 0px 3px 3px #cad4e691;
}

.gallery figcaption {
	width: 300px
}

.c-table{
	text-align: center;
	font-size: 16px;
}

.c-table table{
	border: 1px solid #191925;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 3px;
	line-height: 1.15em;
	margin: 0 auto;
	width: 100%;
}

.c-table table th{
	background-color: #191925;
	color: white;
	height: 60px;
	text-transform: uppercase;
}
.c-table table td, th{
	padding: 0 10px;
}

.c-table table tr:nth-of-type(even) {
	background-color: #bad4fa8e;
}

.c-table table tr, td {
	height: 50px;
	overflow: hidden;
}

.legend {
	margin: auto;
	text-align: center;
	font-size: 20px;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid #191925;
	border-radius: 3px;
}

.legend th {
	padding: 10px;
	color: white;
	background-color: #191925;
	border: none;
	text-transform: uppercase;
}

.legend td {
	width: 150px;
	font-size: 16px;
}

.ab-img {
	float: right;
	margin: 0 0 10px 10px;
}

footer {
	min-height: 80px;
	height: 80px;
	background: #262645;
    color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	box-shadow: 0 1px 8px 2px #29364c91;
}

li {
	list-style: none;
}

.arc-list li {
	list-style-type: square;
}

.arc-foot {
	min-height: 27vh;
}

.lead-bg {
	width: 100%;
    height: auto;
    background: url(twp-pictures/lead-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 140px 0;
    margin-bottom: 0px;
	box-shadow: 0 1px 8px 2px #29364c91;
}

.lead-text {
	background-color: #342645bf;
	margin: 0 auto;
	padding: 15px;
	width: 500px;
	border-radius: 8px;
}
