@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Style+Script&display=swap');

header, footer {
    min-height: 70px;
    min-width: 100%;
	max-width: 300%;
    background: #471759;
    color: white;
	font-weight: bold;
	box-shadow: 0 1px 8px 2px #714f69;
	line-height: normal;
}

footer {
	display: grid;
	place-items: center;
	font-size: 16px;
	font-weight: normal;
}

.s-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-nav {
	display: flex;
    justify-content: space-between;
    align-items: center;
	text-transform: uppercase;
	font-size: 22px;
	padding: 5px 15px;
}

.site-nav a {
	color: white;
}

.site-nav a:visited {	
	color: inherit;
}

.site-nav a.active {
    color:rgb(155, 191, 171);
    background-color: white;
	border-radius: 1px;
}

.site-nav a:hover {
	color: rgb(68, 114, 89);
	text-decoration: none;
}

.site-nav-details a {
	padding: 8px;
}

.page-nav {
	text-align: center;
}

.page-nav a {
	color: #6a9c89;
}

.page-nav a:hover {
	color: rgb(68, 114, 89);
	background: #efd6ff;
}
.to-top {
	
	color: #6a9c89;
}

.logo img {
	display: block;
	height: 60px;
	line-height: 0;
	align-items: center;
}

body {
	margin: 0;
	color: #271f31;
    background: #a199d8;
	padding-left: 0;
	font-size: 20px;
	line-height: 1.5em;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	height: 100%;
}

.wrapper {
	width: 1100px;
	padding: 0;
	margin: 0 auto;
	border: 0px;
	background: white;
	box-shadow: 0 5px 5px 2px #714f69;
}

main {
	padding: 0 2em;
}

h1 {
	line-height: 1;
	margin-top: 50px;
	margin-bottom: 25px;
	font-size: 65px;
	font-style: normal;
    font-weight: 400;
    text-align: center;
    color:#5d327c;
	font-family: 'Style Script', Arial, Helvetica, sans-serif;
}

h2, h5 {
	font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

.rev {
	color: #412957;
	text-align: center;
}

.review-header {
	margin: 15px 0;
}

.review-header h2 {
	margin: 0;
}

.byline {
	opacity: .7;
	font-size: 16px;
	color: #5d327c;
	text-align: center;
	margin: 0;
}

.tags {
	margin: 17px 0;
	font-size: 18px;
	text-align: center;
}

.tag {
	display: inline-block;
	padding: 5px 12px;
	margin-right: 8px;
	margin-bottom: 0;
	border-radius: 999px;
	font-size: 12px;
	background-color: #ece6f0; 
	color: #323038;
	outline: .5px solid purple;
	box-shadow: 0 0 2px 1px #af94a9;
}

.side-overview {
	background-color: rgb(226, 203, 248);
	padding: 15px;
	border-radius: 10px;
	font-size: 18px;
	outline: 1px solid purple;
	box-shadow: 0 0 3px 1px #af94a9;
	
}

.sum {
	line-height: 1.3;
    font-weight: bolder;
    text-align: center;
    color:#412957;
	font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
	margin: 0;
}

.pro-cons {
	color: #412957;
	font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
}

.pro-cons-list {
	padding-left: 25px;
	margin-top: 0;
}

header a {
    text-decoration: none;
}

a {
	text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-size: 16px;
}

/* WRAPPER GRID CSS */

.wrapper-grid {
	display: grid;
  	gap: 0.5em 0.5em;
  	grid-template-columns: repeat(6,1fr);
  	grid-template-rows: auto auto auto;
	grid-template-areas:
            "header header header header header header"
            "main main main main aside aside"
            "footer footer footer footer footer footer";
}

.wrapper-grid .site-header {
	grid-area: header;
}

.wrapper-grid .micro-reviews {
	grid-area: aside;
	font-size: 16px;
	line-height: 1.5;
	padding-top: 1.5em; /* matches page-header padding-top; */
	padding-right: 2.5em; /* = 40px */
}

.wrapper-grid main {
	grid-area: main;
	padding: 0 2em 0 2.5em;
}

.wrapper-grid .site-footer {
	grid-area: footer;
}


/* ARTICLE GRID CSS */

.article-grid {
	display: grid;
  	gap: 0.5em 1.5em;
  	grid-template-columns: repeat(6,1fr);
  	grid-template-rows: repeat (6,auto);
	grid-template-areas:
		"rheader rheader rheader rheader rheader rheader"
		"rlead rlead rlead rlead raside raside"
		"rinfo rinfo rinfo rinfo raside raside"
		"rtext rtext rtext rtext raside raside"
		"rtext rtext rtext rtext raside raside"
		"rfooter rfooter rfooter rfooter raside raside"
           
}

.article-grid .review-header, .article-grid-2 .review-header {
	grid-area: rheader;
}

.article-grid .review-lead, .article-grid-2 .review-lead {
	grid-area: rlead;
}

.article-grid .review-info, .article-grid-2 .review-info {
	grid-area: rinfo;
}

.article-grid .review-text, .article-grid-2 .review-text  {
	grid-area: rtext;
}

.article-grid .review-footer, .article-grid-2 .review-footer {
	grid-area: rfooter;
	font-size: 16px;
}

.article-grid .review-aside {
	grid-area: raside;
}


.article-grid .micro-reviews {
	grid-area: aside;
	font-size: 16px;
	line-height: 1.5;
	padding-top: 1.5em; /* matches page-header padding-top; */
	padding-right: 2.5em; /* = 40px */
}

/* Other Reviews CSS */


.article-label {
	color: #9a9a9a;
}

main article {
	padding: 0 0 2em;
}
main article h1 {
	font-size: 2em;
	margin: 0 0 1em;
	color: #3a3a3a;
}

figure {
	margin: 0;
}

img {
	border-radius: 10px;
}

figcaption {
	font-style: italic;
	opacity: .7;
	font-size: 12px;
	color: #5d327c;
	text-align: center;
	margin: 0;
}

.review-text a {
	color: #299dbd;
}

.review-text a:hover {
	color: #1a7188;
}

.review-aside a {
	color: #299dbd;
}

.review-aside a:hover {
	color: #1a7188;
}
